:root{
    --themeToggler-bg-color: #0c0b13;
    --themeToggler-text-color: black;
}

[data-theme="dark"] {
    --themeToggler-bg-color: #adb5bd;
    --themeToggler-text-color: white;
}

.pointer * {
    cursor: pointer;
    user-select: none;
}

[class*=" themeToggler-"]::before {
    display: block !important;
}

.themeToggler-switch {
    width: 64px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    position: relative;
    border-radius: 60px;
    transition: all 0.5s;
    background-color: var(--themeToggler-bg-color);
}

.themeToggler-circle {
    font-size: 24px;
    position: absolute;
    transition: all 0.5s;
    transform: translateX(-16px);
}

.themeToggler-icon {
    padding: 6px;
    font-size: 20px;
}

.themeToggler-text {
    padding-left: 5px;
    transition: all 0.5s;
    color: var(--themeToggler-text-color);
}

[data-theme="dark"] .themeToggler-circle {
    transform: translateX(16px);
}
